@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style=" background-image: none; background-color: rgb(113, 212, 73); color: white;">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @*<EnlacesLogin></EnlacesLogin>*@
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
