@page "/LoginExitoso"

<style>
    h2 {
        text-align: center;
    }

    img {
        display: block;
        margin: auto;
        width: 180px;
        height: 140px;
    }
</style>

<div>
    <img src="/logo-aya.png" />
</div>

<hr />
<h2>Bienvenido</h2>
<hr />

